{% extends "landing_page.html" %}

{% block body %}
<div>
    <div>
        <div class="flex-grow p-8">
            <h1 class="text-4xl font-bold mb-6">Prompt Engineering Course</h1>
            <p class="text-lg mb-4">
                Welcome to the world of Prompt Engineering! This course is designed to provide a comprehensive understanding of
                how to craft effective prompts to get the best results from AI models like ChatGPT.
            </p>
            <p class="mb-6">Explore the course contents in the sidebar to start your learning journey!</p>
        </div>
    </div>
</div>
{% endblock %}